{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title %}账户设置 - DE Online Judge{% endblock %}

{% block content %}
    <div class="pageheader">
        <div class="pageicon"><span class="iconfa-laptop"></span></div>
        <div class="pagetitle">
            <h5>DE Online Judge</h5>

            <h1>账户设置</h1>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">
            <form action="{% url 'api:account:update_password' %}" class="editprofileform" method="post" id="update-password-form">
                <div class="widgetbox login-information">
                    <h4 class="widgettitle">更新密码</h4>
                    <div class="widgetcontent form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">旧密码</label>
                            <div class="col-md-10">
                                <input type="password" name="old_password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">新密码</label>
                            <div class="col-md-10">
                                <input type="password" name="password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">确认新密码</label>
                            <div class="col-md-10">
                                <input type="password" name="confirm_password" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <button type="submit" class="btn btn-primary btn-block">更新</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6">
            <form action="{% url 'api:account:update_profile' %}" class="editprofileform" method="post" id="update-profile-form">
                <div class="widgetbox login-information">
                    <h4 class="widgettitle">个人资料设置</h4>
                    <div class="widgetcontent form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">用户名</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="{{ current_user.username }}" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">昵称</label>
                            <div class="col-md-10">
                                <input type="text" name="nickname" class="form-control" value="{{ current_user.nickname }}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">电子邮件</label>
                            <div class="col-md-10">
                                <input type="text" name="email" class="form-control" value={{ current_user.email }}>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-2">
                                <button type="submit" class="btn btn-primary btn-block">更新</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--col-md-8-->
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#update-password-form').ajaxForm({
                dataType: "json",
                url: "{% url 'api:account:update_password' %}",
                success: function(data) {
                    jConfirm('密码已成功修改', '提示', function(r) {
                        window.location.href = "{% url 'account:user_setting' %}";
                    });
                },
                statusCode: {
                    400: function(xhr) {
                        var data = $.parseJSON(xhr.responseText);
                        if ('old_password' in data) {
                            $.makeDangerAlert(data['old_password'][0]);
                        } else if ('password' in data) {
                            $.makeDangerAlert(data['password'][0]);
                        } else if ('confirm_password' in data) {
                            $.makeDangerAlert(data['confirm_password'][0]);
                        } else {
                            $.makeDangerAlert(data['non_field_errors'][0]);
                        }
                    }
                }
            });
            $('#update-profile-form').ajaxForm({
                dataType: "json",
                url: "{% url 'api:account:update_profile' %}",
                success: function(data) {
                    jConfirm('个人信息已成功修改', '提示', function(r) {
                        window.location.href = "{% url 'account:user_setting' %}";
                    });
                },
                statusCode: {
                    400: function(xhr) {
                        var data = $.parseJSON(xhr.responseText);
                        if ('nickname' in data) {
                            $.makeDangerAlert(data['nickname'][0]);
                        } else if ('email' in data) {
                            $.makeDangerAlert(data['email'][0]);
                        } else {
                            $.makeDangerAlert(data['non_field_errors'][0]);
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}