{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ title }} - DE Online Judge{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="topictitle">{{ title }}</h2>
            <div class="topicpanel">
                <div class="topic-content">
                    <h5><a href=""><strong>juandelacruz</strong></a></h5>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

                    <p>Excepteur sint occaecat cupidatat non proident, <a href="">sunt in culpa qui</a> officia deserunt
                        mollit anim id est laborum.</p>

                    <p class="date">1 week 2 hours ago</p>
                </div>
            </div>
        </div>
        <!--col-md-9-->

        <div class="col-md-3">
            <h3 class="subtitle2">Categories</h3>
            <br/>
            <ul class="sidebarlist">
                <li><i class="iconfa-angle-right"></i> <a href="">Perspiciatis Unde <span>21</span></a></li>
                <li><i class="iconfa-angle-right"></i> <a href="">Accusantium <span>5</span></a></li>
                <li><i class="iconfa-angle-right"></i> <a href="">Laudantium, <span>1</span></a></li>
                <li><i class="iconfa-angle-right"></i> <a href="">Quibusdam <span>3</span></a></li>
                <li><i class="iconfa-angle-right"></i> <a href="">Natuserror <span>11</span></a></li>
                <li><i class="iconfa-angle-right"></i> <a href="">Doloremque <span>20</span></a></li>
            </ul>
        </div>
        <!--col-md-3-->

    </div><!--row-->
{% endblock %}