{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ title }} - DE Online Judge{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h2 class="topictitle">{{ title }}</h2>
            <div class="topicpanel">
                <div class="topic-content">
                    {% if description %}
                        <h5><a href=""><strong>题目描述</strong></a></h5>
                        {{ description|safe }}
                    {% endif %}

                    {% if input_format %}
                        <h5><a href=""><strong>输入格式</strong></a></h5>
                        {{ input_format|safe }}
                    {% endif %}

                    {% if output_format %}
                        <h5><a href=""><strong>输出格式</strong></a></h5>
                        {{ output_format|safe }}
                    {% endif %}

                    {% if sample %}
                        {% for item in sample %}
                            <h5><a href=""><strong>样例输入{{ forloop.counter }}</strong></a></h5>
                            <p><pre>{{ item.sample_input|linebreaksbr }}</pre></p>
                            <h5><a href=""><strong>样例输出{{ forloop.counter }}</strong></a></h5>
                            <p><pre>{{ item.sample_output|linebreaksbr }}</pre></p>
                        {% endfor %}
                    {% endif %}

                    {% if limit %}
                        <h5><a href=""><strong>限制条件</strong></a></h5>
                        {{ limit|safe }}
                    {% endif %}

                    {% if tips %}
                        <h5><a href=""><strong>提示</strong></a></h5>
                        {{ tips|safe }}
                    {% endif %}

                    {% if source %}
                        <h5><a href=""><strong>来源</strong></a></h5>
                        <p>{{ source|safe }}</p>
                    {% endif %}
                    <p class="date"></p>
                </div>
            </div>
        </div>
        <!--col-md-9-->

        <div class="col-md-3">
            <div class="alert alert-info">
                <h4>题目运行环境</h4>

                <div class="divider15"></div>
                <p>
                    <strong>内存：</strong>{{ memory_limit }} MB <br/>
                    <strong>时间：</strong>{{ time_limit }} ms (每个测试点)<br/>
                    {% ifequal 'CP' judge_type %}
                        <strong>判题方式：</strong>普通
                    {% else %}
                        <strong>判题方式：</strong>Special Judge
                    {% endifequal %}
                </p>
            </div>

            <ul class="nav nav-tabs nav-stacked samplenavs">
                <li><a href="{% url 'problem:submit' id=id %}"><i class="iconfa-arrow-right"></i> &nbsp; 提交代码</a></li>
                <li><a href="{% url 'record:list' %}?problem={{ problem_id }}"><i class="iconfa-bar-chart"></i> &nbsp; 查看本题提交记录</a></li>
            </ul>
        </div>
        <!--col-md-3-->

    </div><!--row-->
{% endblock %}