{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}DE Online Judge - 题目列表{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h3 class="subtitle2">题目列表</h3>
            <br/>
            <table class="table discussions">
                <colgroup>
                    <col class="width5"/>
                    <col class="width60"/>
                    <col class="width10"/>
                    <col class="width10"/>
                    <col class="width15"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>名称</th>
                        <th>AC 人数</th>
                        <th>提交人数</th>
                        <th>来源</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                    <tr>
                        <td>{{ problem.id }}</td>
                        <td><a href="{% url 'problem:detail' id=problem.id %}">{{ problem.title }}</a></td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{ problem.source }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pager">
                <ul class="pagination pagination-sm">
                    {% if problems.has_previous %}
                        <li><a href="?page={{ contacts.previous_page_number }}">上一页</a></li>
                    {% endif %}
                    <li class="active"><a>{{ problems.number }}</a></li>
                    {% if problems.has_next %}
                        <li><a href="?page={{ problems.next_page_number }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!--col-md-9-->

        <div class="col-md-3">
            <h3 class="subtitle2">分类</h3>
            <br/>
            <ul class="sidebarlist">
                {% for category in categories %}
                <li><i class="iconfa-angle-right"></i> <a href="">{{ category.title }} <span>0</span></a></li>
                {% endfor %}
            </ul>
        </div>
        <!--col-md-3-->
    </div><!--row-->
{% endblock %}