{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}提交代码 - DE Online Judge{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h4 class="widgettitle">{{ title }} - 提交代码</h4>
            <div class="replypanel">
                <div class="submit-content">
                    <form method="post" action="{% url 'api:problem:submit' %}" class="form-horizontal" id="submit-form">
                        <input type="hidden" name="problem" value="{{ problem_id }}">
                        <div class="form-group">
                            <label for="language" class="col-sm-2 control-label">选择语言</label>

                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="language" value="C"> C
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="language" value="C++"> C++
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="language" value="Pascal"> Pascal
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="source_code" class="col-sm-2 control-label">程序代码</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" name="source_code" id="source_code" rows="20"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="submit" class="btn btn-success btn-block">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="alert alert-info">
                <h4>文件输入输出提醒</h4>

                <div class="divider15"></div>
                <p>本 OJ 采用文件输入输出方式，文件名为对应题目ID，扩展名为in/out。</p>
                <br/>
                <h5 style="color: red">C/C++用户请使用下列代码</h5>
                <br/>
                <code>
                    freopen("{{ problem_id }}.in", "r", stdin);<br/>
                    freopen("{{ problem_id }}.out", "w", stdout);
                </code>
                <br/>
                <br/>
                <h5 style="color: red">Pascal用户请使用下列代码</h5>
                <br/>
                <code>
                    assign(input, '{{ problem_id }}.in');<br/>
                    assign(output, '{{ problem_id }}.out');<br/>
                    reset(input);<br/>
                    rewrite(output);<br/>
                    <br/>
                    close(input);<br/>
                    close(output);<br/>
                </code>
            </div>

            <ul class="nav nav-tabs nav-stacked samplenavs">
                <li class="active"><a href="##"><i class="iconfa-arrow-right"></i> &nbsp; 提交代码</a></li>
                <li><a href="{% url 'record:list' %}?problem={{ problem_id }}"><i class="iconfa-bar-chart"></i> &nbsp; 查看本题提交记录</a></li>
            </ul>
        </div>
        <!--col-md-3-->

    </div><!--row-->
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit-form').ajaxForm({
                dataType: "json",
                url: "{% url 'api:problem:submit' %}",
                success: function(data) {
                    window.location.href = data["redirect_url"];
                },
                statusCode: {
                    400: function(xhr) {
                        var data = $.parseJSON(xhr.responseText);
                        if ('program_id' in data) {
                            $.makeDangerAlert(data['program_id'][0]);
                        } else if ('language' in data) {
                            $.makeDangerAlert(data['language'][0]);
                        } else if ('source_code' in data) {
                            $.makeDangerAlert(data['source_code'][0]);
                        } else {
                            $.makeDangerAlert(data['non_field_errors'][0]);
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}