{% extends 'base.html' %}
{% load tz %}

{% block title %}{{ title }} 提交记录 - DE Online Judge{% endblock %}

{% block content %}
    <table class="table table-striped table-condensed table-bordered fiexd">
        <tbody>
            <tr>
                <th width="60px">记录编号</th>
                <td>{{ record_id }}</td>
                <th width="60px">评测结果</th>
                <td class="wrap" colspan="3">
                    {{ status }}
                </td>
            </tr>
            <tr>
                <th>题目名称</th>
                <td><a href="{% url 'problem:detail' id=problem_id %}">{{ problem_title }}</a></td>
                <th>最终得分</th>
                <td>{{ score }}</td>
            </tr>
            <tr>
                <th>用户昵称</th>
                <td><a href="##">{{ request.user.nickname }}</a></td>
                <th>测试点数</th>
                <td><span class="ok">{{ total_point }}</span></td>
            </tr>
            <tr>
                <th>代码语言</th>
                <td>{{ language }}</td>
                <th>运行时间</th>
                <td>{{ time_used }} ms</td>
            </tr>
            <tr>
                <th>提交时间</th>
                <td>{{ create_datetime|localtime }}</td>
                <th>内存使用</th>
                <td>{{ memory_used }} MB</td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table>

    <hr/>

    <div class="topicpanel">
        <div class="topic-content">
            {% for detail in record_detail %}
                测试点 {{ forloop.counter }}：{{ detail.status }} （分数：{{ detail.score }}，内存：{{ detail.memory_used }}，时间：{{ detail.time_used }}）<br/>
                {% if detail.message %}
                    <br/>
                    <div class="alert alert-block">
                        <p>{{ detail.message|linebreaksbr }}</p>
                    </div>
                    <br/>
                {% endif %}
            {% endfor %}
        </div>
        <!--topic-content-->
    </div>
{% endblock %}