{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}

{% block title %}DE Online Judge - 提交记录{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="pageheader no-border">
                <form action="" method="get" class="searchbar">
                    <input type="text" name="record" value="{{ search_record }}" placeholder="提交记录ID">
                    <input type="text" name="problem" value="{{ search_problem }}" placeholder="题目名称或题目ID">
                    <input type="text" name="user" value="{{ search_user }}" placeholder="提交者">
                    <input type="text" name="language" value="{{ search_language }}" placeholder="语言">
                    <button class="btn btn-default">筛选</button>
                </form>
                <div class="pageicon"><span class="iconfa-laptop"></span></div>
                <div class="pagetitle">
                    <h5>DE Online Judge</h5>
                    <h1>提交记录</h1>
                </div>
            </div>
            <br/>
            <table class="table discussions">
                <colgroup>
                    <col class="width5"/>
                    <col class="width30"/>
                    <col class="width5"/>
                    <col class="width5"/>
                    <col class="width5"/>
                    <col class="width5"/>
                    <col class="width10"/>
                    <col class="width10"/>
                    <col class="width15"/>
                    <col class="width10"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>记录ID</th>
                        <th>题目</th>
                        <th>状态</th>
                        <th>得分</th>
                        <th>时间(ms)</th>
                        <th>内存(MB)</th>
                        <th>提交者</th>
                        <th>语言</th>
                        <th>提交时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td><a href="{% url 'problem:detail' id=record.problem.id %}">{{ record.problem.title }}</a></td>
                        <th>{{ record.status }}</th>
                        <th>{{ record.score }}</th>
                        <th>{{ record.time_used }}</th>
                        <th>{{ record.memory_used }}</th>
                        <th>{{ record.user.nickname }}</th>
                        <th>{{ record.language }}</th>
                        <th>{{ record.create_datetime|localtime }}</th>
                        <th><a href="{% url 'record:detail' id=record.id %}">查看详细</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pager">
                <ul class="pagination pagination-sm">
                    {% if records.has_previous %}
                        <li><a href="?page={{ contacts.previous_page_number }}">上一页</a></li>
                    {% endif %}
                    <li class="active"><a>{{ records.number }}</a></li>
                    {% if records.has_next %}
                        <li><a href="?page={{ records.next_page_number }}">下一页</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!--row-->
{% endblock %}